.photo-grid__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-auto-flow: dense;
  gap: 16px;
  line-height: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__container {
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__container {
    gap: 12px;
  }
}
