.section_offset_section {
  margin-bottom: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section_offset_section {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .section_offset_section {
    margin-bottom: 64px;
  }
}
